<link rel='stylesheet' href='/css/cinema.css' />
<h1 class="about--us-title-title mg-40-0">VỀ CHÚNG TÔI</h1>
<div class="container">
    <div class="row ml-3 mr-3 d-flex justify-content-between cineInfor">
        <div class="col-7 cineAbout">
            <div class="about--us-content">
                <div class="text--content">
                    <h2 style="color: #F6BA6F;">Giới thiệu</h2>
                    <p>
                        <strong style="color: #F6BA6F;">BMT MAX</strong> là cụm rạp được thành lập vào năm 2023 với các rạp trải dài từ Bắc vào Nam. Với các phòng chiếu được trang bị các công nghệ chiếu phim tiên tiến cho ra chất lượng hình ảnh tốt nhất cho khách hàng được trọn vẹn trải nghiệm bộ phim mà mình yêu thích. 
                    </p>
                    <p>
                        <strong style="color: #F6BA6F;">BMT MAX</strong> tập trung vào trải nghiệm của khách hàng khi đến với rạp. Chúng tôi muốn đem đến sự thoải mái tốt nhất cho trải nghiệm của khách hàng. Chúng tôi luôn tạo điều kiện cho những khách hàng ở những khu vực không có điều kiện tiếp cận với điện ảnh thông qua những chương trình khuyến mãi và hướng về cộng đồng.
                    </p>
                    <h2 style="color: #F6BA6F;">Mục tiêu hoạt động</h2>
                    <p>
                        Các mục tiêu này được thiết lập bởi <strong style="color: #F6BA6F;">BMT MAX</strong> như là kim chỉ nam cho các Ban Quản Lý Rạp để bảo đảm trải nghiệm điện ảnh hoàn hảo cho khách hàng.
                    </p>
                    <ul>
                        <li style="font-size: 20px;">
                            <strong>Phục vụ khách hàng:</strong> Chúng tôi cam kết chất lượng phục vụ theo tiêu chuẩn cao nhất qua việc thoả mãn các yêu cầu của khách hàng kịp thời,đầy đủ và chuyên nghiệp.
                        </li>
                        <li style="font-size: 20px;"><strong>Không gian thoải mái:</strong> Chúng tôi cam kết mang đến một không gian sạch sẽ, thoải mái và thuận lợi, để khách hàng luôn cảm thấy được trân trọng và được phục vụ chu đáo.</li>
                        <li style="font-size: 20px;"><strong>Địa điểm an toàn:</strong> Chúng tôi cam kết bảo đảm một không gian giải trí an ninh và an toàn để khách hàng quay lại thường xuyên.</li>
                        <li style="font-size: 20px;"><strong>Âm thanh hình ảnh:</strong> Chúng tôi cam kết cung cấp chất lượng âm thanh và hình ảnh theo tiêu chuẩn cao nhằm gìn giữ, quảng bá và nâng cao trải nghiệm điện ảnh như chính sự kỳ vọng của các nhà làm phim và khán giả xem phim.</li>
                    </ul>
                    <img src="../img/mbt_logo.png" alt="404">
                    <h5 class="rule"><strong>LIÊN LẠC VỚI CHÚNG TÔI</strong></h5>
                    <p>
                        Nhằm tăng tính trải nghiệm cho khách hàng chúng tôi luôn tiếp thu những ý kiến cũng như góp ý từ khách hàng.
                    </p>
                    <div class="members">
                        <div class="tabs">
                            <h5 class="active">Phạm Lê Trọng Nhân</h5>
                            <h5>Võ Thiên Minh</h5>
                            <h5>Trịnh Văn Dũng</h5>
                            <h5>Trần Trung Hiếu</h5>
                        </div>
                        <div class="tab-content">
                            <div class="active">
                                <ul>
                                    <li><i class="fa-brands fa-facebook" style="color: #0091ff;"></i></i> <a href="">Phạm Lê Trọng Nhân</a></li>
                                    <li><i class="fa-solid fa-envelope"></i> 520H0663@student.tdtu.edu.vn</li>
                                    <li><i class="fa-solid fa-phone"></i> 01234567890</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa-brands fa-facebook" style="color: #0091ff;"></i></i> <a href="">Võ Thiên Minh</a></li>
                                    <li><i class="fa-solid fa-envelope"></i> 52000894@student.tdtu.edu.vn</li>
                                    <li><i class="fa-solid fa-phone"></i> 01234567890</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa-brands fa-facebook" style="color: #0091ff;"></i></i> <a href="">Trịnh Văn Dũng</a></li>
                                    <li><i class="fa-solid fa-envelope"></i> 52000884@student.tdtu.edu.vn</li>
                                    <li><i class="fa-solid fa-phone"></i> 01234567890</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa-brands fa-facebook" style="color: #0091ff;"></i></i> <a href="">Trần Trung Hiếu</a></li>
                                    <li><i class="fa-solid fa-envelope"></i> 52000888@student.tdtu.edu.vn</li>
                                    <li><i class="fa-solid fa-phone"></i> 01234567890</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>
                        Đừng ngần ngại liên lạc với chúng tôi nếu như bạn có thắc mắc, chúng tôi luôn sẵn sàng giải đáp thắc mắc và hỗ trợ bạn. Mọi ý kiến của khách hàng đều giúp chúng tôi trở nên tốt hơn.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 cinemaList">
            {{#each theaters}}
            <a href="/cinemaInfor/{{this.id}}" class="col btn btn-primary cinemaBtn"><i class="fa-solid fa-location-dot"></i> {{this.nameCinema}}</a>
            {{/each}}
        </div>
    </div>
</div>
<script>
    let tabs = document.querySelectorAll('.tabs h5');
    let tabContents = document.querySelectorAll('.tab-content div');

    console.log(tabs, tabContents)

    tabs.forEach((tab, index) => {
        tab.addEventListener('click', () => {
            tabContents.forEach(content =>{
                content.classList.remove('active');
            });
            tabs.forEach((tab) =>{
                tab.classList.remove('active');
            });
            tabContents[index].classList.add('active');
            tabs[index].classList.add('active');
        });
    });
</script>
