<link rel="stylesheet" href="/css/userprofile.css" />

<div class="container">
  <h1 class="mg-40-0">THÔNG TIN NGƯỜI DÙNG</h1>
  <div class="row content">
    <div class="col-sm-12 col-md-4 profile-tab-nav">
      <div class="p-4">
        <div class="img-circle text-center mb-3">
          <img src="../img/ava_both.png" alt="IMG" class="shadow" />
        </div>
        <h4 class="text-center">{{user.name}}</h4>
      </div>
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link"
          id="account-tab"
          href="/userprofile"
        >
          <i class="fa fa-home text-center mr-1"></i>
          Tài khoản
        </a>
        <a
          class="nav-link active"
          id="password-tab"
          href="#"
          role="tab"
          aria-controls="account"
          aria-selected="true"
        >
          <i class="fa fa-key text-center mr-1"></i>
          Mật khẩu
        </a>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-8 tab-content p-4 p-md5"
      id="v-pills-tabContent"
    >
      <div
        class="tab-pane fade show active"
        id="account"
        role="tabpanel"
        aria-labelledby="account-tab"
      >
        <h3 class="mb-4">Thay đổi mật khẩu</h3>
        <form action="/userprofile/changePassword" method="post">
          <input type="hidden" name="formId" value="form2" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Mật khẩu cũ</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  name="currentPassword"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Mật khẩu mới</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Xác nhận mật khẩu mới</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmNewPassword"
                  name="confirmNewPassword"
                  required
                />
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-success">
              Cập nhật mật khẩu
            </button>
          </div>
          {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
              {{error}}
            </div>
				  {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  document.getElementById('showChangePasswordForm').addEventListener('click', () => {
    const form = document.getElementById('changePasswordForm');
    form.classList.toggle('d-none');
  });
</script>
