
    <link rel="stylesheet" href="/css/login.css" />
 

<div class="container">
    <div class="wrapper-form">
      <div class="title">Chào mừng trở lại!</div>
      <form action="/login" method="post" class="signup-form" autocomplete="off">
        <div class="field">
          <input autofocus type="email" id="inputEmail" name="email" value="{{email}}" {{#if emailError}} {{/if}} placeholder="john@gmail.com">
          <label for="inputEmail">Email</label>
        </div>
        <div class="field">
          <input type="password" id="inputPassword" name="password" value="{{password}}" {{#if passwordError}} autofocus {{/if}} placeholder="Nhập mật khẩu..">
          <label for="inputPassword">Mật khẩu</label>
        </div>
        <div class="content">
          <div class="pass-link"><a href="#">Quên mật khẩu?</a></div>
        </div>
        {{#if error}}
          <div class="alert alert-danger alert-dismissible fade show">
          {{error}}
          </div>
				{{/if}}
        <div class="field">
          <input type="submit" value="Đăng Nhập">
        </div>
        <div class="signup-link">Chưa có tài khoản? <a href="/register">Đăng ký ngay</a></div>
      </form>
    </div>
</div>
