@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
    --green: #59ce8f;
}
/* Config some classes used commonly */
body {
    font-family: "Montserrat", sans-serif;
}

section {
    margin-top: 77px;
}

.bg-main {
    background-color: #121825;
}

.bg-submain {
    background-color: #eeead6;
}

.text-main {
    color: #eeead6;
}

.text-submain {
    color: #fec260;
}

.text-gray {
    color: #6b6d70;
}

.text-blue {
    color: #1b78e4;
}

.bg-blue {
    background-color: #1b78e4;
}

.text-green {
    color: var(--green);
}

.bg-green {
    background-color: var(--green);
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star-icon {
    color: #f4c01e;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay,
.overlay-rounded,
.overlay-rounded-pill {
    position: relative;
    z-index: 10;
}

.overlay-rounded::after,
.overlay-rounded-pill::after,
.overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #282a36;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
}

.overlay-rounded-pill::after {
    border-radius: 50rem;
}

.overlay-rounded::after {
    border-radius: 5px;
}

.limit-half-length {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* End config classes */

/* header css */
.logo img {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.gap-nav {
    gap: 137px;
}

.nav-icon {
    width: 19px;
    height: 19px;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #eeead6;
}

.nav-link:focus,
.nav-link:hover {
    color: #ff1e00 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ff1e00 !important;
    background-color: transparent;
}

.dropdown-menu {
    --bs-dropdown-min-width: 25rem;
    --bs-dropdown-padding-y: 0.8rem;
}

.dropdown-list {
    --bs-dropdown-min-width: 200px;
    transform: translateX(10%);
    transition: 0.2s ease;
}

.dropdown-list .dropdown-item:hover {
    background-color: #ccc;
    color: #000 !important;
    transition: 0.3s ease;
}

/* .dropdown-list .dropdown-item:hover {
    background-color: #ccc;
    transition: 0.2s ease;
}

.dropdown-select:hover + .dropdown-list {
    display: block !important;
    transition: 0.3s ease;
} */
/* End header css  */
/* Start creating template for showing movie */
/* Create template */
.movie-list {
    display: grid;
    grid-template-areas: 
    'item1 item1 item2'
    'item1 item1 item5'
    'item3 item4 item5';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 206px 206px 206px;
    gap: 10px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}
/* End create template */

.movie-link img {
    transition: 0.3s ease-in-out;
}

.movie-link:hover img {
    transform: scale(1.3);
}

.movie-title {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-title.large,
.movie-year.large {
    font-size: 24px;
}

.play-btn {
    font-size: 30px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 30, 0, 0.9);
    transition: 0.3s ease-in-out;
    display: none;
}

.movie-link:hover + .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End creating template */
/* Responsive */
@media screen and (max-width: 767.98px) {
    .star-icon {
        font-size: 13px;
    }

    .bookmark-icon {
        font-size: 13px;
    }

    .gap-nav {
        gap: 10px;
    }

    .dropdown-menu {
        --bs-dropdown-min-width: fit-content;
        --bs-dropdown-padding-y: 0.5rem;
    }

    .movie-list {
        grid-template-areas: 
        'item1 item1'
        'item2 item3'
        'item4 item5';
        grid-template-columns: 1fr 1fr;
    }

    .movie-title,
    .movie-title.large,
    .movie-year.large,
    .movie-year {
        font-size: 16px;
    }

    .user-bookmark,
    .rating-score {
        font-size: 15px;
    }
}
/* End responsive */