@import "custom.css";
/* Start movie background */
.popular-movie {
    width: 100%;
    height: 637px;
    position: relative;
}

.popular-movie::after {
    content: "";
    background-image: url("../assets/images/Movies/Thor_Love_And_Thunder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}

.popular-movie .movie-info p {
    max-width: 540px;
    color: #f1eded;
}
/* End movie background */