@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.white-text {
    color: #fff;
}

.fade-text {
    color: rgba(#fff, #fff, #fff, 0.5);
}

body {
    background-color: #121825;
    color: #fff;
}

footer {
    border-top: 2px solid #62CDFF;
    margin-top: 50px;
    padding: 50px 70px;
}

/* #content {
    margin-top: 200 px;
} */

p {
    margin: 0;
}

img {
    object-fit: contain;
    width: 100%;
}

.text-align-center {
    text-align: center;
}

.slider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mg-40-0 {
    margin: 40px 0;
}

.mg-0-40 {
    margin: 0 80px;
}

.mg-30-0 {
    margin: 30px 0;
}

.mg-0-30 {
    margin: 0 30px;
}

.none-text-decoration {
    text-decoration: none;
}
